# Le dataset source : 31 Go, non versionnable
/data/

# Artefacts macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Sorties intermediaires d'analyse
*.pkl
*.log

# Sorties Parquet (regenerables en 33 s)
/silver/

# Environnement virtuel
.venv/
